.about {
    position: relative;
    margin: 15px 50px;
    background: #fff;
    overflow: hidden;
    animation: move 1s 1 linear normal;
}
.about-head {
    margin-top: 20px;
    margin-bottom:40px;
    text-align: center;
}
.personal-info{
    text-align: left;
    margin-left: 30px;
    font-family: Verdana,Tahoma, sans-serif;
    margin-bottom: 20px;
}
.personal-info-head {
    display: inline-block;
    padding-bottom: 5px;
    padding-right: 15px;
    font-size: 14px;
    margin-bottom: 10px;
    border-bottom: 1px #000 solid;
}
.personal-info-list {

}
.personal-info-item {
margin-bottom: 10px;
}
.question, .answer {
    display: inline;
}
.question {
    font-weight: bold;
}
.question::after {
    content: ":";
    display: inline;
    margin: 0px 5px 0px 2px;
}
.answer {
    
}
.answer a.answer-link {
    color:  rgb(49, 142, 204);
}
.answer a.answer-link:hover {
    color:  rgb(60, 172, 247);
}
.answer a.answer-link:visited {
    color:  rgb(49, 142, 204);
}
.answer a.answer-link:active {
    color:  rgb(44, 126, 180);
}
.skils{
    width: 600px;
    margin: 20px 0px 50px 30px;
}
.skils-list {
    padding-right: 100px;
}
.skils-item {
    margin-bottom: 10px;
}
.skils-name {
    text-align: left;
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #888;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 14px;
}
.skil-progres {
    width: 100%;
    height: 7px;
    background: #eee;
    border-radius: 5px;
    overflow: hidden;
}
.skil-progres-value {
    font-size: 0px;
    width: 0%;
    height: 7px;
    background: #2EA2CC;
    transition: width 0.5s linear 0.3s;

}
.about-text {
    width: 500px;
    margin: 0px auto 50px;
}
.about-text-head {
    margin-bottom: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.about-text-txt {

}
#skils-anim.anim .skil-progres-value {
    width: 75%;   
}


@media screen and (max-width: 1170px) {
	
}

/* Landscape tablets and medium desktops */
@media screen and (max-width: 991px) {
    .left-block {
        float: none;
        width: 100%;
        overflow: hidden;
        background: #f6f6f6;
      }
  
}

/* Portrait tablets and small desktops */
@media screen and (max-width: 768px)  {
  .about-text {
        width: 100%;
        margin: 0px auto 50px;
    }
    .about {
        margin: 5px 20px;
    }
    .about-head {
        margin-bottom: 20px;
    }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 576px) {
    .about {
        margin: 3px 5px;
    }
    .skils{
        width: auto;
        margin: 20px 0px 50px 30px;
    }
}
/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
    .personal-info {
        margin-left: 10px;
    }
    .skils{
        margin: 20px 20px 50px 20px;
    }
    .skils-list {
        padding-right: 0px;
    }
    
}

/* Iphone 5 */
@media screen and (max-width: 320px) {
    .about-text {
        text-align: left;
        width: 100%;
        margin: 0px 5px 20px 10px;
    }
    .about-text-txt {
        padding-right: 10px;
    }
}