.contact {
    background: #fff;
}
.contact-head {
    margin: 20px 0px;
}
.contact-form-block{
    margin: 0px auto;
    text-align: left;
}
.contact-form-head {
    text-align: center;
    margin-bottom: 20px;
}
.contact-form-wrap {
    margin: 0px auto;
     max-width: 320px;
}
.contact-form {
    
}
.form-group {
    margin-bottom: 20px;
}
.form-input {
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #ccc;
    line-height: 20px;
    letter-spacing: 1px;
    background-color: transparent;
    -webkit-appearance: none;
    outline-style: none;
    
}
.form-input:focus {
    border: 1px solid rgb(49, 142, 204);
}
textarea.form-input {
    height: 120px;
    resize: none;
} 

.btn-group {

}
.form-btn {
    width: 40%;
    border: 0px;
    color: #fff;
    padding: 7px 10px;
}
.form-btn.submit {
    float: left;
    background: rgb(49, 142, 204);
}
.form-btn.cancel {
    float: right;
    background: rgb(230, 72, 72);
}