.work {

}
.work-head {

}
.work-block {

}
.work-item{
    display: block;
    width: 33.33333333333333%;
    height: auto;
    float: left;
    position: relative;
    overflow: hidden;
}
.work-img {
    width: 100%;
    vertical-align: middle;
    max-width: 100%;
}
.work-info-wrap.active {
    display: block;
    top: 0%;
}
.work-info-wrap {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    z-index: 2;
    text-align: left;
    transition: top .4s linear 0.1s;

}
.work-info-wrap::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    opacity: .8;
    z-index: -1;
}
.work-info {
    margin: 5px 10px;
}
.work-info-head {
    margin-bottom: 5px;
}
.work-info-text {
    margin-bottom: 5px;
}
.tags {
    margin-bottom: 5px;
}
.tag {
    display: inline-block;
    margin: 1px;
    padding: 2px 5px;
    background: rgb(204, 121, 121);
    border-radius: 5px;
    
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 14px;
}
.btn-block {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
}
.btn {
    padding: 5px 5px;
    background: rgb(126, 178, 226);
    border-radius: 5px;
    width: 45%;
    display: inline-block;
}
.btn.toWork {
    float: left;
}
.btn.toCode {
    float: right;
}



@media screen and (max-width: 1170px) {
	
}

/* Landscape tablets and medium desktops */
@media screen and (max-width: 991px) {
    .work-item{
        width: 50%;
    }
  
}

/* Portrait tablets and small desktops */
@media screen and (max-width: 768px)  {
  
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 576px) {

}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
    .work-item{
        width: 100%;
    }
}

/* Iphone 5 */
@media screen and (max-width: 320px) {
    
}